
.header_servicos{
    background-image: url(../../img/background-dog.jpg);
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-top: 80px;
    height: 300px;
    color: #1E88E5;
    justify-content: center;
    padding-left: 10%;
    font-family: 'Courier New', Courier, monospace;
    font-size: 15px;
}
p{
    font-size: 18px;
}
.divButton{
    margin-top: 20px;
    display: flex;
    align-items: center;
    width: 150px;
    height: 60px;
    font-size: 20px;
    border-radius: 10px;
    border:#fff 2px solid;
    
}
.button{
    width: 100% !important;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    border-color: #f1c40f;
    border-radius: 10px;
    color: #fff;
    background-image: -webkit-linear-gradient(45deg, #1E88E5 50%, transparent 80%);
    background-image: linear-gradient(45deg, #419ceb 50%, transparent 80%);
    background-position: 100%;
    background-size: 400%;
    -webkit-transition: background 300ms ease-in-out;
    transition: background 500ms ease-out;

}
.button:hover {
background-position: 0;
}
.projetos_container {
    background-image: url(../../img/background-dog.jpg);
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-top: 80px;
    height: 300px;
    color: #fff;
    justify-content: center;
    padding-left: 10%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    text-shadow:
    -1px -1px 0 #1E88E5,
     1px -1px 0 #1E88E5,
    -1px  1px 0 #1E88E5,
     1px  1px 0 #1E88E5;
}
.container_infos_servicos{
    display: flex;
    flex-direction: column;
    padding: 100px;
    padding-bottom: 0;
    width: 100%;
    height: 600px;
    font-size: 8px;
   justify-content: space-between;
}
.infos_servicos{
    display: flex;
    flex-direction: column;
    border-left: 5px solid #1E88E5;
    height: 100%;
    padding-left: 30px;
    margin-top: 20px;

}
.infos_servicos h1{
    margin-bottom: 20px;
}

.dogGrande{
    display: flex;
    justify-content:center;
    width: 100%;
    height: 200px;
}
.dogGrande img{
    max-width:795px;
    width: 100%;
    height: 200px;
}

@media(max-width:840px){
    .container_infos_servicos{
        padding: 10px;
    }
    .header_banhoetosa{
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }
    
}
