
.projetos_container {
    background-image: url(../../img/background-dog.jpg);
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-top: 80px;
    height: 300px;
    color: #fff;
    justify-content: center;
    padding-left: 10%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    text-shadow:
    -1px -1px 0 #1E88E5,
     1px -1px 0 #1E88E5,
    -1px  1px 0 #1E88E5,
     1px  1px 0 #1E88E5;
}

.h1-card{
  font-size: 24px;
  font-weight: bolder;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: #1E88E5;
  
}

.infos_projetos{
    display: flex;
    flex-direction: column;
    border-left: 5px solid #1E88E5;
    height: 100%;
    padding-left: 30px;
    margin-top: 20px;
    padding: 30px;
    margin: 50px;
}
.infos_projetos h1{
    margin-bottom: 20px;
}
.projects {
  width: 100%;
  background: #ffffff;
  color: #2E2E2E;
}

/* HERO */
.projects-hero {
  padding: 80px 20px;
  text-align: center;
  background: #f5f7fa;
}

.projects-hero h1 {
  font-size: 42px;
  margin-bottom: 10px;
}

.projects-hero p {
  font-size: 18px;
  color: #6b7280;
}

/* INTRO */
.projects-intro {
  max-width: 900px;
  margin: 40px auto;
  padding: 0 20px;
  text-align: center;
  font-size: 18px;
}

/* GALERIA */


.project-card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 12px;
}

/* DIFERENCIAIS */
.projects-features {
  padding: 40px 20px;
  text-align: center;
}

.projects-features ul {
  list-style: none;
  display: inline-block;
  padding: 0;
}

.projects-features li {
  font-size: 16px;
  margin: 10px 0;
}

/* CTA */
.projects-cta {
  padding: 60px 20px;
  text-align: center;
  background: #1E88E5;
  color: white;
}

.projects-cta h2 {
  margin-bottom: 20px;
}

.btn-whatsapp {
  background: white;
  color: #1E88E5;
  padding: 14px 28px;
  border-radius: 50px;
  font-weight: bold;
  text-decoration: none;
}
.projects-gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 3 colunas fixas */
  gap: 46px;
  padding: 40px 20px;
  width: 100%;
  padding-left: 5%;
  padding-right: 5%;
}

/* TABLET */
@media (max-width: 1024px) {
  .projects-gallery {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* MOBILE */
@media (max-width: 640px) {
  .projects-gallery {
    grid-template-columns: 1fr;
  }
}
